/* app css stylesheet */

.movies {
  list-style: none;
}

.movies li {
  clear: both;
  height: 145px;
  padding-top: 15px;
}

.thumb {
  float: left;
  height: 140px;
  width: 100px;
}

img.movie {
  float: left;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  display: none;
  height: 110px;
  width: 80px;
  border-radius: 3px 3px 3px 3px;
}

/* Nav Bar */

div.navabar > form {
  margin-right: 15px;
}
